/* Page structure */
.addproduct-page {
    text-align: center;
    background: #ffe8cc;
}

.site-title {
    font-size: 48px;
    color: #fff;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 3px;
}

/* Main form container */
.addproduct-details {
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    margin-top: 40px;
    margin-left: 20%;
    gap: 40px;
    flex: 1;
    max-width: 50%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Group style for form components */
.form-group {
    margin-bottom: 5%;
    align-items: center;
    padding: 5px 0;
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
    .product-details {
        flex-direction: column;
    }

    .left-section,
    .right-section {
        max-width: 100%;
        margin-bottom: 20px;
    }
}